# 초보자를 위한 파이썬 300제

In [1]:
#001 
print("Hello World")

Hello World

In [2]:
#002
print("Mary's cosmetics")

Mary's cosmetics

In [3]:
#003
print('신씨가 소리질렀다. "도둑이야."')

신씨가 소리질렀다. "도둑이야."

In [5]:
#004
print("C:\windows")

C:\windows

In [8]:
#005
print("안녕하세요.\n만나서\t\t반갑습니다.")
#\n은 줄바꿈, \t는 tab 인데 두번 들어가서 탭2번

안녕하세요.
만나서		반갑습니다.

In [9]:
#006
print ("오늘은", "일요일")

오늘은 일요일

In [13]:
#007
print("naver","kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung

In [15]:
#008
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [3]:
#009
print("first", end="");print("second")

firstsecond

In [17]:
#010
print(5/3)

1.6666666666666667

In [6]:
#011
samsung=50000
money=samsung*10
print(money)

500000

In [7]:
#012
money=298000000000
now=50000
per=15.79
print(money)
print(now)
print(per)

298000000000
50000
15.79

In [13]:
#013
s= "hello"
t= "python"
r="! "
s+r+t

'hello! python'

In [14]:
#014
2 + 2 * 3

8

In [15]:
#015
a="132"
print(type(a))

<class 'str'>

In [18]:
#016
num_str="720"
num_int=int(num_str)
print(num_int,type(num_int))

720 <class 'int'>

In [19]:
#017
num= 100
num_str=str(num)
print(num_str,type(num_str))

100 <class 'str'>

In [20]:
#018
str1="15.79"
result=float(str1)
print(result,type(result))

15.79 <class 'float'>

In [21]:
#019
year="2020"
result=int(year)
print(result+2,result+3,result+4)

2022 2023 2024

In [22]:
#020
money=48584
print(money*36)

1749024

In [28]:
#021
letters = 'python'
print(letters[0], letters[2])

p t

In [31]:
#022
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [32]:
#023
string = "홀짝홀짝홀짝"
print(string[0]+string[2]+string[4])

홀홀홀

In [38]:
#024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [52]:
#025
phone_number = "010-1111-2222"
result=phone_number.replace("-"," ")
print(result)

010 1111 2222

In [62]:
#026
phone_number = "010-1111-2222"
result=phone_number.replace("-","")
print(result)

01011112222

In [63]:
#027
url = "http://sharebook.kr"
print(url[-2:])

kr

In [64]:
#028
lang='python'  #python이 나올줄 알았다.....문자열은 수정 안된다를 다시 한번 기억하자!
lang[0]='p'
print(lang)

TypeError: 'str' object does not support item assignment

In [70]:
#029
string = 'abcdfe2a354a32a'
result=string.replace('a','A')
print(result)

Abcdfe2A354A32A

In [71]:
#030
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [72]:
#031
a = "3"
b = "4"
print(a + b)

34

In [74]:
#032
print("Hi" * 3)

HiHiHi

In [75]:
#033
print("-"*80)

--------------------------------------------------------------------------------

In [77]:
#034
t1 = 'python'
t2 = 'java'
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [82]:
#035
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: %d"%(name1,age1))
print("이름: %s 나이: %d"%(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [88]:
#036-format()
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [90]:
#037
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [94]:
#038
num = "5,969,782,550"
num2=num.replace(",","")
num3=int(num2)
print(num3,type(num3))

5969782550 <class 'int'>

In [96]:
#039
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [99]:
#040
data = "   삼성전자    "
data2=data.strip()
print(data2)

삼성전자

In [101]:
#041
ticker = "btc_krw"
ticker2=ticker.upper()
print(ticker2)

BTC_KRW

In [102]:
#042
ticker = "BTC_KRW"
ticker2=ticker.lower()
print(ticker2)

btc_krw

In [103]:
#043
txt="hello"
txt2=txt.capitalize()
print(txt2)

Hello

In [112]:
#044-endswith
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [115]:
#045
file_name = "보고서.xlsx"
file_name.endswith("xlsx"or"xls")

True

In [116]:
#046
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [120]:
#047
a = "hello world"
a.split(" ")

['hello', 'world']

In [121]:
#048
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [122]:
#049
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [123]:
#050
data = "039490     "
data.rstrip()

'039490'

In [125]:
#051
movie_rank ={"닥터 스트레인지","스플릿","럭키"}
movie_rank

{'닥터 스트레인지', '럭키', '스플릿'}

In [135]:
## 052
movie_rank =["닥터 스트레인지","스플릿","럭키"]
movie_rank.insert(3,"배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [137]:
#053
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [138]:
#054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [140]:
#055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [159]:
#056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs=lang1+lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [172]:
#057 ????????????왜오류?????
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

TypeError: 'int' object is not callable

In [173]:
#058
nums = [1, 2, 3, 4, 5]
sum(nums)

15

In [175]:
#059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [178]:
#060
nums = [1, 2, 3, 4, 5]
avg=sum(nums)/len(nums)
print(avg)

3.0

In [179]:
#061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1::]

[100, 130, 140, 150, 160, 170]

In [180]:
#062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [181]:
#063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [200]:
#064
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [204]:
#065
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [208]:
#066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [209]:
#067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [212]:
#068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [213]:
#069
string = "삼성전자/LG전자/Naver"
string.split("/")

['삼성전자', 'LG전자', 'Naver']

In [216]:
#070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [217]:
#071
my_variable=()

In [218]:
#072
my_variable=("닥터 스트레인지","스플릿","럭키")

In [221]:
#073
value=(1)
value1=(1,)
print(type(value))
print(type(value1))

<class 'int'>
<class 'tuple'>

In [222]:
#074
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [223]:
#075
t = 1, 2, 3, 4
type(t)

tuple

In [ ]:
#076
t = ('a', 'b', 'c')
#튜플은 변경이 안되므로 새로 만들어야한다.

In [226]:
#077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
result=list(interest)
type(result)

list

In [227]:
#078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
result=tuple(interest)
type(result)

tuple

In [228]:
#079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [230]:
#080
even=(tuple(range(2, 100, 2)))
print(even)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)