# 초보자를 위한 파이썬 131~200

In [2]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [3]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [5]:
#133
print("A")
print("B")
print("C")

A
B
C

In [8]:
#134
print("출력:","A")
print("출력:","B")
print("출력:","C")

출력: A
출력: B
출력: C

In [16]:
#135
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [17]:
#136
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [18]:
#137
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

In [25]:
#138
for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [33]:
#139
print("++++")
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [39]:
#140
for i in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

In [40]:
#141
리스트 = [100, 200, 300]
for i in 리스트:
    print(i+10)

110
210
310

In [41]:
#142
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: %s"%i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [43]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [47]:
#144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i,len(i))

dog 3
cat 3
parrot 6

In [52]:
#145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [53]:
#146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x",i)

3 x 1
3 x 2
3 x 3

In [54]:
#147
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x",i,"=",i*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [55]:
#148
리스트 = ["가", "나", "다", "라"]
for i in 리스트:
    if i in ["나","다","라"]:
        print(i)

나
다
라

In [56]:
#149
리스트 = ["가", "나", "다", "라"]
for i in 리스트:
    if i in ["가","다"]:
        print(i)

가
다

In [68]:
#150
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [70]:
#151
리스트 = [3, -20, -3, 44]
for i in 리스트:
    if i<0:
        print(i)

-20
-3

In [71]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i%3==0:
        print(i)

3

In [72]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트:
    if i<20 and i%3==0:
        print(i)

12
18

In [73]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i)>=3:
        print(i)

study
python
language

In [78]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper()==True:
        print(i)

A
D

In [79]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [90]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0:1].upper()+i[1::])

Dog
Cat
Parrot

In [95]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    j=i.split(".")
    print(j[0])

hello
ex01
intro

In [101]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j=i.split('.')
    if j[1]=='h':
        print(i)

intra.h
define.h

In [104]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j=i.split(".")
    if j[1]=='h' or j[1]=='c':
        print(i)

intra.h
intra.c
define.h

In [4]:
#161
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
#162
for i in range(2002,2051,4):
        print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [16]:
#163
for i in range(1,31):
    if i%3==0:
        print(i)

In [23]:
#164
for i in range(0,100):
    print(99-i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [30]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [31]:
#166
for i in range(1,10):
    print("3 x ",i,"=",3*i)

3 x  1 = 3
3 x  2 = 6
3 x  3 = 9
3 x  4 = 12
3 x  5 = 15
3 x  6 = 18
3 x  7 = 21
3 x  8 = 24
3 x  9 = 27

In [33]:
#167
for i in range(0,10):
    if i%2!=0:
        print("3 x ",i,"=",3*i)

3 x  1 = 3
3 x  3 = 9
3 x  5 = 15
3 x  7 = 21
3 x  9 = 27

In [44]:
#168
temp=0
for i in range(1,11):
    temp=temp+i
print("합: ", temp)

합:  55

In [53]:
#169
temp=0
for i in range(1,11):
    if i%2!=0:
        temp=temp+i
print("합: ", temp)

합:  25

In [55]:
#170 1*2*3*
result=1
for i in range(1,11):
    result=i*result
print(result)

3628800

In [57]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in price_list:
    print(i)

32100
32150
32000
32500

In [75]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [98]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(3-i,price_list[i])

#range는 일정한 정수생성할 때 나오는 것이므로 len을 써서 리스트를 정수로 만들어야함.
#print(i)를 쓰면 0 1 2 3이 나오므로 3-i를 써야함

3 32100
2 32150
1 32000
0 32500

In [105]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
        print(90+10*i,price_list[i])

100 32150
110 32000
120 32500

In [6]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i],my_list[i+1])

가 나
나 다
다 라

In [18]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

In [11]:
my_list = ["가", "나", "다", "라", "마"]
print(my_list[0],my_list[1],my_list[2])
print(my_list[1],my_list[2],my_list[3])
print(my_list[2],my_list[3],my_list[4])

가 나 다
나 다 라
다 라 마

In [33]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[3-i],my_list[2-i])

라 다
다 나
나 가

In [35]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(my_list[i])

100
200
400

In [43]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
    result=(my_list[i]+my_list[i+1]+my_list[i+2])/3
    print(result)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [42]:

my_list = [100, 200, 400, 800, 1000, 1300]
for i in [0,1,2,3]:
    result=(my_list[i]+my_list[i+1]+my_list[i+2])/3
    print(result)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [41]:
my_list = [100, 200, 400, 800, 1000, 1300]
print((my_list[0]+my_list[1]+my_list[2])/3)l
print((my_list[1]+my_list[2]+my_list[3])/3)
print((my_list[2]+my_list[3]+my_list[4])/3)
print((my_list[3]+my_list[4]+my_list[5])/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [47]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []

for i in range(len(low_prices)):
    volatility.append(high_prices[i]-low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [49]:
#181
apart=[["101호","102호"],["201호","202호"],["301호","302호"]]
apart

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [52]:
#182
stock=[["시가",100,200,300],["종가",80,210,330]]
stock

[['시가', 100, 200, 300], ['종가', 80, 210, 330]]

In [55]:
#183
stock={"시가": [100,200,300],"종가":[80, 210, 330]}
stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [59]:
#184
stock={"10/10":[80,110,70,90],"10/11":[210,230,190,200]}
stock

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [70]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
print(apart[0][0],"호")
print(apart[0][1],"호")
print(apart[1][0],"호")
print(apart[1][1],"호")
print(apart[2][0],"호")
print(apart[2][1],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [76]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [77]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i:
        print(j,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [79]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [80]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [84]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [85]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j,"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [86]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [87]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [90]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result=[]

for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result={}

for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

In [93]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [95]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3]>150:
        print(i[3])

190
310

In [97]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    if i[3]>=i[0]:
        print(i[3])

100
310

In [99]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volarility=[]

for i in ohlc[1:]:
    differ=i[1]-i[2]
    volarility.append(differ)
print(volarility)

[40, 30, 10]

In [100]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in ohlc[1:]:
    differ=i[1]-i[2]
    if i[3]>i[0]:
        print(differ)

10

In [106]:
200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
result=0
for i in ohlc[1:]:
    differ=i[3]-i[0]
    result+=differ
print(result)

0